@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  #left {
    grid-column: 6 / 12;
  }


  .container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #app {
    margin: 0 auto;
    padding: 2rem;
  }



  .separator { 
    margin-bottom: 100%;
    margin-top: 0%;
    border-radius: 40px;
  }

  #description { 
    align-items: center;
    grid-column: 2 / 12;
    margin-bottom: 40%;
    border-radius: 40px;
  }

  #press {
    width: 48%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #mediagroup {
    display: flex;
    grid-column: 8 / 12;
    grid-row: auto;
    margin-top: 0%;
    margin-bottom: 80%;
    border-radius: 40px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }


  .subtitle {
    margin-left: 5%;
  }

  /* aqui comienzan las animaciones */

  .hidden { 
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }


  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  @media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }


  .selfie {
    width: 90%;
    border-radius: 40px;
  }



  #press {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  #caja {
    align-self: center;
  }

  .notes:hover {
    filter: drop-shadow(0 0 1em #f3edf2aa);
  }
  
  .portada {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        table, p, img {
        padding-right: 1em;
        width: 100%;
        }
     }
    @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    }
    @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    }
    @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    }
    @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    }
    @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    }