@import url("https://use.typekit.net/jmk3xov.css");

/* form */
@media (min-width: 0px) {
  #contact {
    grid-column: 3 / 17;
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  table,
  p,
  img {
    padding-right: 1em;
    width: 100%;
  }
}

.headerbar {
  margin: 30px 0;
  border-top: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
}
.headerbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.headerbar ul li a:hover {
  opacity: 1;
}

@media (min-width: 0px) {
  .headerbar ul li a {
    border-radius: 40px;
    color: white;
    margin: 20px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 4vw;
    opacity: 0.7;
    transition: 0.5s;
  }

  #contact {
    grid-column: 1 / 15;
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  #mediagroup {
    display: flex;
    grid-column: 6 / 20;
    margin-bottom: 150%;
    margin-top: 0%;
    border-radius: 40px;
    align-items: center;
    border-radius: 40px;
  }
  header {
    background: var(--dark-bg);
    grid-column: 2 / 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 50%;
  }

  .separator {
    margin-bottom: 10%;
    margin-top: 0%;
    border-radius: 40px;
    grid-column: 3 / 23;
  }

  .son {
    font-size: 6vw;
    text-align: center;
  }

  .daug {
    font-size: 4vw;
    text-align: center;
  }

  .subtitle {
    margin-left: 5%;
    text-align: center;
  }

  /* second description */

  #description {
    align-items: center;
    grid-column: 2 / 24;
    margin-bottom: 40%;
    border-radius: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .notis {
    display: table;
    align-items: center;
  }
  .notes {
    display: table-cell;
    padding: 5px;

    white-space: nowrap;
  }

  #press {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  #app {
    margin: 5%;
    font-size: 3vw;
    padding: 2rem;
  }

  .menu {
    display: table-column;
    width: 100%;
    justify-content: space-between;
  }
  /* end descripton */
}

@media (min-width: 600px) {
  .headerbar ul li a {
    border-radius: 40px;
    color: white;
    margin: 20px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 3vw;
    opacity: 0.7;
    transition: 0.5s;
  }
  #contact {
    grid-column: 1 / 15;
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  #mediagroup {
    display: flex;
    grid-column: 6 / 20;
    margin-bottom: 100%;
    margin-top: 0%;
    border-radius: 40px;
    align-items: center;
    border-radius: 40px;
  }
  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 50%;
  }
  .separator {
    margin-bottom: 10%;
    margin-top: 0%;
    border-radius: 40px;
    grid-column: 6 / 20;
  }

  .subtitle {
    margin-left: 5%;
    text-align: center;
  }

  /* second description */

  #description {
    align-items: center;
    grid-column: 2 / 24;
    margin-bottom: 40%;
    border-radius: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .notis {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notes {
    display: table-cell;
    padding: 5px;
    font-size: 3vw;
    white-space: nowrap;
  }

  #press {
    width: 48%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  #app {
    margin: 0 auto;
    font-size: 1vw;
    padding: 2rem;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  /* end descripton */
}

@media (min-width: 1000px) {
  .headerbar ul li a {
    border-radius: 40px;
    color: white;
    margin: 20px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 2vw;
    opacity: 0.7;
    transition: 0.5s;
  }
  #mediagroup {
    display: flex;
    grid-column: 15 / 24;
    margin-bottom: 100%;
    margin-top: 0%;
    border-radius: 40px;
    align-items: center;
    border-radius: 40px;
  }
  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }
  .separator {
    margin-bottom: 100%;
    margin-top: 0%;
    border-radius: 40px;
    grid-column: 2 / 13;
  }
  .son {
    font-size: 4vw;
  }

  .daug {
    font-size: 2vw;
  }

  .subtitle {
    margin-left: 5%;
  }

  /* second description */

  #description {
    align-items: center;
    grid-column: 2 / 24;
    margin-bottom: 40%;
    border-radius: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .notis {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notes {
    display: table-cell;
    padding: 5px;
    white-space: nowrap;
  }

  #press {
    width: 48%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  #app {
    margin: 0 auto;
    font-size: 1vw;
    padding: 2rem;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  /* end descripton */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

/* generic styles */

h1,
h2,
h3 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* background */

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/*bodys element */

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

/* termina bodys */

/* principal page of landing */

.selfie {
  border-radius: 40px;
}

.portada {
  justify-content: center;
}
/* en page of landing */

.pressblur {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

.zoom-out {
  animation: zoomOut 0.5s;
}

@keyframes zoomOut {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* aqui comienzan las animaciones */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

#press {
  display: flex;
  justify-content: center;
  align-items: center;
}

#caja {
  align-self: center;
}

.notes:hover {
  filter: drop-shadow(0 0 1em #f3edf2aa);
}

button {
  width: 0;
  height: 0;
}

#light {
  border-radius: 40px;
  grid-column: 4 / 22;
}

.righty {
  grid-column: 23 / 24;
  z-index: 1000;

  background-color: whitesmoke;
  border-radius: 40px;
  align-self: center;
}

.lefty {
  z-index: 1000;
  background-color: whitesmoke;
  grid-column: 2 / 3;
  border-radius: 40px;
  align-self: center;
}

.footing {
  align-items: center;
  grid-column: 2 / 24;
  margin-bottom: -10%;
  border-radius: 40px;
}

footer {
  background-color: #111;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background: var(--dark-bg);
  border-radius: 40px;

  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}

html {
  scroll-behavior: smooth;
}

.states {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}

.states li {
  float: left;
  position: left;
  right: 50%;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb black;
  border-radius: 40px;
  text-align: center;
  width: 400px;
}

form h2 {
  color: white;
  font-size: 2vw;
}

.form-text {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 10% 14%;
}

input,
textarea {
  background-color: whitesmoke;
  padding: 10% 14%;
  margin-bottom: 5%;
  border: 0;
  border-radius: 10px;
  font-size: 1vw;
  color: gray;
}

::placeholder {
  color: gray;
  font-size: 1vw;
}

:focus {
  outline: 1px solid black;
}

#techstack {
  grid-column: 5 / 20;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb black;
  border-radius: 40px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logos {
  height: auto;
  width: 150px;
  vertical-align: middle;
  margin: 1%;
}
